(
    arena: (
        width: 100.0,
        height: 100.0,
    ),
    ball: (
        velocity: [75.0, 50.0],
        radius: 2.0
    ),
    paddle: (
        width: 4.0,
        height: 16.0,
        speed: 1.2,
    )
)
